[Desktop Entry]
Terminal=false
Type=Application
Name=Skype
Exec=/opt/brave-bin/brave --app="https://web.skype.com"
Icon=~/.local/share/applications/icons/skype.png
