[Desktop Entry]
Terminal=false
Type=Application
Name=WhatsApp
Exec=/opt/brave-bin/brave --app="https://web.whatsapp.com"
Icon=~/.local/share/applications/icons/whatsapp.png
