[Desktop Entry]
Terminal=false
Type=Application
Name=YouTube
Exec=/opt/brave-bin/brave --app="https://youtube.com"
Icon=~/.local/share/applications/icons/youtube.png
