[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/home/gabriel/.zen/zen-bin %u
Icon=/home/gabriel/.zen/browser/chrome/icons/default/default128.png
Name=Zen
Comment=Custom definition for Zen
