
[global_config]
  suppress_multiple_term_dialog = True
[keybindings]
[profiles]
  [[default]]
    icon_bell = False
    background_color = "#050d15"
    background_darkness = 0.7
    background_type = transparent
    cursor_shape = underline
    cursor_fg_color = "#000000"
    cursor_bg_color = "#aaaaaa"
    cursor_color_default = False
    font = Liberation Mono 10
    foreground_color = "#ffffff"
    palette = "#2e3436:#cc0000:#4e9a06:#c4a000:#3465a4:#75507b:#06989a:#d3d7cf:#555753:#ef2929:#8ae234:#fce94f:#99c1f1:#ad7fa8:#34e2e2:#f6f5f4"
    use_system_font = False
    bold_is_bright = True
    title_hide_sizetext = True
    title_transmit_fg_color = "#000000"
    title_transmit_bg_color = "#c0bfbc"
    title_receive_fg_color = "#0a0f1a"
    title_use_system_font = False
    title_font = Liberation Mono 10
[layouts]
  [[default]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 2152:387
      maximised = False
      fullscreen = False
      size = 1490, 576
      title = Terminal
      last_active_term = c88cac62-23dc-45e2-92bc-39a8dcef3183
      last_active_window = True
    [[[terminal1]]]
      type = Terminal
      parent = child0
      order = 0
      profile = default
      uuid = c88cac62-23dc-45e2-92bc-39a8dcef3183
[plugins]
